<div class="container">
  <h1 class="text-center">Eat Da Burger</h1>
  <div class="text-center">
    <img id="burger-img" src="/img/burger.jpg" alt="a picture of a burger and fries">
  </div>

  <div class="row">
    <div class="col-6">
      <div class="text-center">
        <h3>To Devour</h3>
      </div>
      <div class="to-eat-list">
        {{#burgers}}
          {{#unless devoured}}
            <div id="{{id}}" class="burger-box">
              <p>
                <span class="burger-id">{{id}}</span>.) <span class="burger-name">{{name}}</span>
              </p>
              <button class="btn btn-sm devour-btn">Devour</button>
              <button class="btn btn-sm delete-btn">X</button>
            </div>
          {{/unless}}
        {{/burgers}}
      </div>
    </div>

    <div class="col-6">
      <div class="text-center">
        <h3>Devoured</h3>
      </div>
      <div class="eaten-list">
        {{#burgers}}
          {{#if devoured}}
            <div id="{{id}}" class="burger-box">
              <p>
                <span class="burger-id">{{id}}</span>.) <span class="burger-name">{{name}}</span>
              </p>
              <button class="btn btn-sm delete-btn">X</button>
            </div>
          {{/if}}
        {{/burgers}}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 text-center">
      <form class="burger-form">
        <input id="burger-input" type="text" name="burger-text">
        <input id="burger-submit" class="btn" type="submit" name="submit">
      </form>
    </div>
  </div>

</div>
