<div class="burger-jumbo jumbotron jumbotron-fluid">
  <h1 id="burger-title" class="display-3">Eat Da Burger</h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="text-center">
        <h3>To Devour</h3>
        <div class="burger-top-bun mx-auto"></div>
        <div class="burger-lettuce mx-auto"></div>
        <div class="burger-tomato mx-auto"></div>
        <div class="burger-cheese mx-auto"></div>
      </div>
      <div class="to-eat-list mx-auto">
        {{#burgers}}
          {{#unless devoured}}
            <div id="{{id}}" class="burger-box">
              <p>
                <span class="burger-id">{{id}}</span>.) <span class="burger-name">{{name}}</span>
              </p>
              <button class="btn btn-sm devour-btn">Devour</button>
              <button class="btn btn-sm delete-btn">X</button>
            </div>
          {{/unless}}
        {{/burgers}}
      </div>
      <div class="text-center">
        <div class="burger-onion mx-auto"></div>
        <div class="burger-bottom-bun mx-auto"></div>
      </div>
    </div>

    <div class="col-6">
      <div class="text-center">
        <h3>Devoured</h3>
        <div class="burger-top-bun mx-auto"></div>
        <div class="burger-lettuce mx-auto"></div>
        <div class="burger-tomato mx-auto"></div>
        <div class="burger-cheese mx-auto"></div>
      </div>
      <div class="eaten-list mx-auto">
        {{#burgers}}
          {{#if devoured}}
            <div id="{{id}}" class="burger-box">
              <p>
                <span class="burger-id">{{id}}</span>.) <span class="burger-name">{{name}}</span>
              </p>
              <button class="btn btn-sm delete-btn">X</button>
            </div>
          {{/if}}
        {{/burgers}}
      </div>
      <div class="text-center">
        <div class="burger-onion mx-auto"></div>
        <div class="burger-bottom-bun mx-auto"></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 text-center">
      <form class="burger-form">
        <input id="burger-input" type="text" name="burger-text">
        <input id="burger-submit" class="btn" type="submit" name="submit">
      </form>
    </div>
  </div>

  <footer class="row">
    <div class="col-12 text-center">
      <span>
        <h6>Created by Michael Davis, 2017 // Picture by Christopher Flowers</h6>
      </span>
    </div>
  </footer>

</div>
